schema/musicbrainz_mmd-2.0.rng

<?xml version="1.0" encoding="UTF-8"?>

<!-- ==================================================================
     $Id$

     Relax NG Schema for MusicBrainz XML Metadata Version 2.0


     This XML schema has been designed to represent music metadata.
     Documentation and the latest revision can be found at

        http://musicbrainz.org/development/mmd/


     Copyright (c) 2006 Robert Kaye, Matthias Friedrich

     The schema is released under the Creative Commons
     Attribution-ShareAlike 2.5 license.

     http://creativecommons.org/licenses/by-sa/2.5/

     ================================================================== -->


<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://musicbrainz.org/ns/mmd-2.0#">


    <start>
        <ref name="def_metadata-element"/>
    </start>


    <define name="def_metadata-element">
        <element name="metadata">
            <optional>
                <attribute name="generator">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <optional>
                <attribute name="created">
                    <data type="dateTime"/>
                </attribute>
            </optional>

            <optional>
                <ref name="def_artist-element"/>
            </optional>
            <optional>
                <ref name="def_release-element"/>
            </optional>
            <optional>
                <ref name="def_release-group-element"/>
            </optional>
            <optional>
                <ref name="def_recording-element"/>
            </optional>
            <optional>
                <ref name="def_label-element"/>
            </optional>
            <optional>
                <ref name="def_work-element"/>
            </optional>
            <optional>
                <ref name="def_puid-element"/>
            </optional>
            <optional>
                <ref name="def_isrc-element"/>
            </optional>
            <optional>
                <ref name="def_disc-element"/>
            </optional>
            <optional>
                <ref name="def_rating"/>
            </optional>
            <optional>
                <ref name="def_user-rating"/>
            </optional>
            <optional>
                <ref name="def_collection"/>
            </optional>
            <optional>
                <ref name="def_artist-list"/>
            </optional>
            <optional>
                <ref name="def_release-list"/>
            </optional>
            <optional>
                <ref name="def_release-group-list"/>
            </optional>
            <optional>
                <ref name="def_recording-list"/>
            </optional>
            <optional>
                <ref name="def_label-list"/>
            </optional>
            <optional>
                <ref name="def_work-list"/>
            </optional>
            <optional>
                <ref name="def_isrc-list"/>
            </optional>
            <optional>
                <ref name="def_annotation-list"/>
            </optional>
            <optional>
                <ref name="def_cdstub-list"/>
            </optional>
            <optional>
                <ref name="def_freedb-disc-list"/>
            </optional>
            <optional>
                <ref name="def_tag-list"/>
            </optional>
            <optional>
                <ref name="def_user-tag-list"/>
            </optional>
            <optional>
                <ref name="def_collection-list"/>
            </optional>
            <ref name="def_metadata-element_extension"/>
        </element>
    </define>


    <define name="def_artist-element">
        <element name="artist">
            <optional>
                <attribute name="id">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <optional>
                <attribute name="type">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <ref name="def_artist-attribute_extension"/>

            <optional>
                <element name="name">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="sort-name">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="gender">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="country">
                    <ref name="def_iso-3166"/>
                </element>
            </optional>
            <optional>
                <element name="disambiguation">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="ipi">
                    <ref name="def_ipi"/>
                </element>
            </optional>
            <optional>
                <element name="life-span">
                    <optional>
                        <element name="begin">
                            <ref name="def_incomplete-date"/>
                        </element>
                    </optional>
                    <optional>
                        <element name="end">
                            <ref name="def_incomplete-date"/>
                        </element>
                    </optional>
                </element>
            </optional>

            <optional>
                <ref name="def_alias-list"/>
            </optional>
            <optional>
                <ref name="def_recording-list"/>
            </optional>
            <optional>
                <ref name="def_release-list"/>
            </optional>
            <optional>
                <ref name="def_release-group-list"/>
            </optional>
            <optional>
                <ref name="def_label-list"/>
            </optional>
            <optional>
                <ref name="def_work-list"/>
            </optional>
            <zeroOrMore>
                <ref name="def_relation-list"/>
            </zeroOrMore>
            <optional>
                <ref name="def_tag-list"/>
            </optional>
            <optional>
                <ref name="def_user-tag-list"/>
            </optional>
            <optional>
                <ref name="def_rating"/>
            </optional>
            <optional>
                <ref name="def_user-rating"/>
            </optional>

            <ref name="def_artist-element_extension"/>
        </element>
    </define>


    <define name="def_release-element">
        <element name="release">
            <optional>
                <attribute name="id">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <ref name="def_release-attribute_extension"/>

            <optional>
                <element name="title">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="status">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="quality">
                    <ref name="def_quality"/>
                </element>
            </optional>
            <optional>
                <element name="disambiguation">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="packaging">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="text-representation">
                    <optional>
                        <element name="language">
                            <ref name="def_iso-639"/>
                        </element>
                    </optional>
                    <optional>
                        <element name="script">
                            <ref name="def_iso-15924"/>
                        </element>
                    </optional>
                </element>
            </optional>
            <optional>
                <ref name="def_artist-credit"/>
            </optional>
            <optional>
                <ref name="def_release-group-element"/>
            </optional>

            <optional>
                <element name="date">
                    <ref name="def_incomplete-date"/>
                </element>
            </optional>
            <optional>
                <element name="country">
                    <ref name="def_iso-3166"/>
                </element>
            </optional>
            <optional>
                <element name="barcode">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="asin">
                    <data type="string">
                        <param name="pattern">[A-Z0-9]{10}</param>
                    </data>
                </element>
            </optional>
            <optional>
                <ref name="def_label-info-list"/>
            </optional>

            <optional>
                <ref name="def_medium-list"/>
            </optional>
            <zeroOrMore>
                <ref name="def_relation-list"/>
            </zeroOrMore>
            <optional>
                <ref name="def_tag-list"/>
            </optional>
            <optional>
                <ref name="def_user-tag-list"/>
            </optional>
            <optional>
                <ref name="def_collection-list"/>
            </optional>

            <ref name="def_release-element_extension"/>
        </element>
    </define>


    <define name="def_release-group-element">
        <element name="release-group">
            <optional>
                <attribute name="id">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <optional>
                <attribute name="type">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <ref name="def_release-group-attribute_extension"/>

            <optional>
                <element name="title">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="disambiguation">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="comment">
                    <text/>
                </element>
            </optional>
            <optional>
              <element name="first-release-date">
                <ref name="def_incomplete-date" />
              </element>
            </optional>

            <optional>
                <ref name="def_artist-credit"/>
            </optional>
            <optional>
                <ref name="def_release-list"/>
            </optional>
            <zeroOrMore>
                <ref name="def_relation-list"/>
            </zeroOrMore>
            <optional>
                <ref name="def_tag-list"/>
            </optional>
            <optional>
                <ref name="def_user-tag-list"/>
            </optional>
            <optional>
                <ref name="def_rating"/>
            </optional>
            <optional>
                <ref name="def_user-rating"/>
            </optional>

            <ref name="def_release-group-element_extension"/>
        </element>
    </define>


    <define name="def_recording-element">
        <element name="recording">
            <optional>
                <attribute name="id">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <ref name="def_recording-attribute_extension"/>

            <optional>
                <element name="title">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="length">
                    <data type="nonNegativeInteger"/> 
                </element>
            </optional>
            <optional>
                <element name="disambiguation">
                    <text/>
                </element>
            </optional>
            <optional>
                <ref name="def_artist-credit"/>
            </optional>


            <optional>
                <ref name="def_release-list"/>
            </optional>
            <optional>
                <ref name="def_puid-list"/>
            </optional>
            <optional>
                <ref name="def_isrc-list"/>
            </optional>
            <zeroOrMore>
                <ref name="def_relation-list"/>
            </zeroOrMore>

            <optional>
                <ref name="def_tag-list"/>
            </optional>
            <optional>
                <ref name="def_user-tag-list"/>
            </optional>
            <optional>
                <ref name="def_rating"/>
            </optional>
            <optional>
                <ref name="def_user-rating"/>
            </optional>

            <ref name="def_recording-element_extension"/>
        </element>
    </define>


    <define name="def_label-element">
        <element name="label">
            <optional>
                <attribute name="id">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <optional>
                <attribute name="type">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <ref name="def_label-attribute_extension"/>

            <optional>
                <element name="name">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="sort-name">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="label-code">
                    <data type="nonNegativeInteger"/>
                </element>
            </optional>
            <optional>
                <element name="ipi">
                    <ref name="def_ipi"/>
                </element>
            </optional>
            <optional>
                <element name="disambiguation">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="country">
                    <ref name="def_iso-3166"/>
                </element>
            </optional>
            <optional>
                <element name="life-span">
                    <optional>
                        <element name="begin">
                            <ref name="def_incomplete-date"/>
                        </element>
                    </optional>
                    <optional>
                        <element name="end">
                            <ref name="def_incomplete-date"/>
                        </element>
                    </optional>
                </element>
            </optional>

            <optional>
                <ref name="def_alias-list"/>
            </optional>
            <optional>
                <ref name="def_release-list"/>
            </optional>
            <zeroOrMore>
                <ref name="def_relation-list"/>
            </zeroOrMore>

            <optional>
                <ref name="def_tag-list"/>
            </optional>
            <optional>
                <ref name="def_user-tag-list"/>
            </optional>
            <optional>
                <ref name="def_rating"/>
            </optional>
            <optional>
                <ref name="def_user-rating"/>
            </optional>

            <ref name="def_label-element_extension"/>
        </element>
    </define>

    <define name="def_work-element">
        <element name="work">
            <optional>
                <attribute name="id">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <optional>
                <attribute name="type">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <ref name="def_work-attribute_extension"/>

            <optional>
                <element name="title">
                    <text/>
                </element>
            </optional>

            <optional>
                <ref name="def_artist-credit"/>
            </optional>

            <optional>
                <element name="iswc">
                    <ref name="def_iswc" />
                </element>
            </optional>

            <optional>
                <element name="disambiguation">
                    <text/>
                </element>
            </optional>
            <optional>
                <ref name="def_alias-list"/>
            </optional>
            <zeroOrMore>
                <ref name="def_relation-list"/>
            </zeroOrMore>
            <optional>
                <ref name="def_tag-list"/>
            </optional>
            <optional>
                <ref name="def_user-tag-list"/>
            </optional>
            <optional>
                <ref name="def_rating"/>
            </optional>
            <optional>
                <ref name="def_user-rating"/>
            </optional>

            <ref name="def_work-element_extension"/>
        </element>
    </define>


    <define name="def_disc-element">
        <element name="disc">
            <attribute name="id">
                <data type="string">
                    <param name="pattern">[a-zA-Z0-9._]{27}-</param>
                </data>
            </attribute>
            <ref name="def_disc-attribute_extension"/>
            <optional>
                <element name="sectors">
                    <data type="nonNegativeInteger"/>
                </element>
            </optional>
            <optional>
                <ref name="def_release-list"/>
            </optional>
            <ref name="def_disc-element_extension"/>
        </element>
    </define>


    <define name="def_puid-element">
        <element name="puid">
            <optional>
                <attribute name="id">
                        <ref name="def_uuid"/>
                </attribute>
            </optional>
            <ref name="def_puid-attribute_extension"/>

            <optional>
                <ref name="def_recording-list"/>
            </optional>

            <ref name="def_puid-element_extension"/>
        </element>
    </define>


    <define name="def_isrc-element">
        <element name="isrc">
            <optional>
                <attribute name="id">
                     <ref name="def_isrc"/>
                </attribute>
            </optional>
            <ref name="def_isrc-attribute_extension"/>

            <optional>
              <ref name="def_recording-list"/>
            </optional>

            <ref name="def_isrc-element_extension"/>
        </element>
    </define>

    
    <define name="def_artist-credit">
        <element name="artist-credit">
            <oneOrMore>
                <element name="name-credit">
                    <optional>
                        <attribute name="joinphrase">
                            <text/>
                        </attribute>
                    </optional>
                    <optional>
                        <element name="name">
                            <text/>
                        </element>
                    </optional>
                    <ref name="def_artist-element"/>
                </element>
            </oneOrMore>
        </element>
    </define>


    <define name="def_relation-element">
        <element name="relation">
            <attribute name="type">
                <data type="anyURI"/>
            </attribute>
            <element name="target">
                <data type="anyURI"/>
            </element>
            <optional>
                <element name="direction">
                    <ref name="def_direction"/>
                </element>
            </optional>
            <optional>
                <ref name="def_attribute-list"/>
            </optional>
            <optional>
                <element name="begin">
                    <ref name="def_incomplete-date"/>
                </element>
            </optional>
            <optional>
                <element name="end">
                    <ref name="def_incomplete-date"/>
                </element>
            </optional>

            <optional>
                <choice>
                    <ref name="def_artist-element"/>
                    <ref name="def_release-element"/>
                    <ref name="def_release-group-element"/>
                    <ref name="def_recording-element"/>
                    <ref name="def_label-element"/>
                    <ref name="def_work-element"/>

                    <ref name="def_relation-element_extension"/>
                </choice>
            </optional>
        </element>
    </define>


    <define name="def_alias">
        <element name="alias">
            <optional>
                <attribute name="locale">
                    <ref name="def_iso-3166-2" />
                </attribute>
            </optional>
            <text/>
        </element>
    </define>


    <define name="def_tag">
        <element name="tag">
            <optional>
                <attribute name="count">
                    <data type="nonNegativeInteger"/>
                </attribute>
            </optional>
            <ref name="def_tag-attribute_extension"/>
            <element name="name">
                <text/>
            </element>
        </element>
    </define>


    <define name="def_user-tag">
        <element name="user-tag">
            <ref name="def_tag-attribute_extension"/>
            <element name="name">
                <text/>
            </element>    
        </element>
    </define>

    <define name="def_rating">
        <element name="rating">
            <optional>
                <attribute name="votes-count">
                    <data type="nonNegativeInteger"/>
                </attribute>
            </optional>
            <data type="float"/>
        </element>
    </define>


    <define name="def_user-rating">
        <element name="user-rating">
            <data type="nonNegativeInteger"/>
        </element>
    </define>


    <define name="def_label-info">
        <element name="label-info">
            <optional>
                <element name="catalog-number">
                    <text/>
                </element>
            </optional>
            <optional>
                <ref name="def_label-element"/>
            </optional>
        </element>
    </define>


    <define name="def_medium">
        <element name="medium">
            <optional>
                <element name="title">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="position">
                    <data type="nonNegativeInteger"/>
                </element>
            </optional>
            <optional>
                <element name="format">
                    <text/>
                </element>
            </optional>
            <optional>
                <ref name="def_disc-list"/>
            </optional>
            <ref name="def_track-list"/>
        </element>
    </define>


    <define name="def_track">
        <element name="track">
            <optional>
                <element name="position">
                    <data type="nonNegativeInteger"/>
                </element>
            </optional>
            <optional>
                <element name="title">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="length">
                    <data type="nonNegativeInteger"/> 
                </element>
            </optional>
            <optional>
                <ref name="def_artist-credit"/>
            </optional>
            <optional>
                <ref name="def_recording-element"/>
            </optional>
        </element>
    </define>

    <define name="def_annotation">
        <element name="annotation">
            <optional>
                <attribute name="type">
                    <text/>
                </attribute>
            </optional>
            <ref name="def_annotation-attribute_extension"/>
            <element name="entity">
                <data type="anyURI"/>
            </element>
            <element name="name">
                <text/>
            </element>
            <element name="text">
                <text/>
            </element>
            <ref name="def_annotation-element_extension"/>
        </element>
    </define>

    <define name="def_cdstub">
        <element name="cdstub">
            <attribute name="id">
                <data type="string">
                    <param name="pattern">[a-zA-Z0-9._]{27}-</param>
                </data>
            </attribute>
            <ref name="def_cdstub-attribute_extension"/>
            <element name="title">
                <text/>
            </element>
            <optional>
                <element name="artist">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="barcode">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="comment">
                    <text/>
                </element>
            </optional>
            <ref name="def_nonmb-track-list"/>
            <ref name="def_cdstub-element_extension"/>
        </element>
    </define>

    <define name="def_freedb-disc">
        <element name="freedb-disc">
            <optional>
                <attribute name="id">
                    <data type="string">
                        <param name="pattern">[a-zA-Z0-9]{8}</param>
                    </data>
                </attribute>
            </optional>
            <ref name="def_freedb-disc-attribute_extension"/>
            <element name="title">
                <text/>
            </element>
            <optional>
                <element name="artist">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="category">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="year">
                    <data type="string">
                        <param name="pattern">[0-9]{4}</param>
                    </data>
                </element>
            </optional>
            <ref name="def_nonmb-track-list"/>
            <ref name="def_freedb-disc-element_extension"/>
        </element>
    </define>

    <define name="def_nonmb-track">
        <element name="track">
            <element name="title">
                <text/>
            </element>
            <optional>
                <element name="artist">
                    <text/>
                </element>
            </optional>
            <element name="length">
                <data type="nonNegativeInteger"/>
            </element>
        </element>
    </define>

    <define name="def_collection">
        <element name="collection">
            <optional>
                <attribute name="id">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <element name="name">
                <text/>
            </element>
            <optional>
                <element name="editor">
                    <text/>
                </element>
            </optional>
            <ref name="def_release-list"/>
        </element>
    </define>
    <!--
        This part defines the extensions elements and attributes.
    -->

    <define name="def_metadata-element_extension">
        <optional>
            <ref name="def_extension_element"/>
        </optional>
    </define>


    <define name="def_artist-element_extension">
        <zeroOrMore>
            <ref name="def_extension_element"/>
        </zeroOrMore>
    </define>


    <define name="def_release-element_extension">
        <zeroOrMore>
            <ref name="def_extension_element"/>
        </zeroOrMore>
    </define>


    <define name="def_release-group-element_extension">
        <zeroOrMore>
            <ref name="def_extension_element"/>
        </zeroOrMore>
    </define>


    <define name="def_recording-element_extension">
        <zeroOrMore>
            <ref name="def_extension_element"/>
        </zeroOrMore>
    </define>


    <define name="def_label-element_extension">
        <zeroOrMore>
            <ref name="def_extension_element"/>
        </zeroOrMore>
    </define>


    <define name="def_work-element_extension">
        <zeroOrMore>
            <ref name="def_extension_element"/>
        </zeroOrMore>
    </define>


    <define name="def_puid-element_extension">
        <zeroOrMore>
            <ref name="def_extension_element"/>
        </zeroOrMore>
    </define>


    <define name="def_isrc-element_extension">
        <zeroOrMore>
            <ref name="def_extension_element"/>
        </zeroOrMore>
    </define>


    <define name="def_relation-element_extension">
        <ref name="def_extension_element"/>
    </define>


    <define name="def_annotation-element_extension">
        <zeroOrMore>
            <ref name="def_extension_element"/>
        </zeroOrMore>
    </define>


    <define name="def_disc-element_extension">
        <zeroOrMore>
            <ref name="def_extension_element"/>
        </zeroOrMore>
    </define>


    <define name="def_cdstub-element_extension">
        <zeroOrMore>
            <ref name="def_extension_element"/>
        </zeroOrMore>
    </define>


    <define name="def_freedb-disc-element_extension">
        <zeroOrMore>
            <ref name="def_extension_element"/>
        </zeroOrMore>
    </define>

    <define name="def_artist-attribute_extension">
        <zeroOrMore>
            <ref name="def_extension_attribute"/>
        </zeroOrMore>
    </define>


    <define name="def_release-attribute_extension">
        <zeroOrMore>
            <ref name="def_extension_attribute"/>
        </zeroOrMore>
    </define>


    <define name="def_release-group-attribute_extension">
        <zeroOrMore>
            <ref name="def_extension_attribute"/>
        </zeroOrMore>
    </define>


    <define name="def_recording-attribute_extension">
        <zeroOrMore>
            <ref name="def_extension_attribute"/>
        </zeroOrMore>
    </define>


    <define name="def_label-attribute_extension">
        <zeroOrMore>
            <ref name="def_extension_attribute"/>
        </zeroOrMore>
    </define>


    <define name="def_work-attribute_extension">
        <zeroOrMore>
            <ref name="def_extension_attribute"/>
        </zeroOrMore>
    </define>


    <define name="def_puid-attribute_extension">
        <zeroOrMore>
            <ref name="def_extension_attribute"/>
        </zeroOrMore>
    </define>


    <define name="def_isrc-attribute_extension">
        <zeroOrMore>
            <ref name="def_extension_attribute"/>
        </zeroOrMore>
    </define>


    <define name="def_annotation-attribute_extension">
        <zeroOrMore>
            <ref name="def_extension_attribute"/>
        </zeroOrMore>
    </define>


    <define name="def_disc-attribute_extension">
        <zeroOrMore>
            <ref name="def_extension_attribute"/>
        </zeroOrMore>
    </define>


    <define name="def_cdstub-attribute_extension">
        <zeroOrMore>
            <ref name="def_extension_attribute"/>
        </zeroOrMore>
    </define>


    <define name="def_freedb-disc-attribute_extension">
        <zeroOrMore>
            <ref name="def_extension_attribute"/>
        </zeroOrMore>
    </define>


    <define name="def_tag-attribute_extension">
        <zeroOrMore>
            <ref name="def_extension_attribute"/>
        </zeroOrMore>
    </define>

    <define name="def_extension_element">
        <element>
            <anyName>
                <except>
                    <nsName ns="http://musicbrainz.org/ns/mmd-2.0#"/>
                    <nsName ns=""/>
                </except>
            </anyName>
            <zeroOrMore>
                <choice>
                    <attribute>
                        <anyName/>
                    </attribute>
                    <text/>
                    <ref name="def_anything"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_extension_attribute">
	<attribute>
	<anyName>
            <except>
                <nsName ns="http://musicbrainz.org/ns/mmd-2.0#"/>
                <nsName ns=""/>
            </except>
	</anyName>
	</attribute>
    </define>


    <define name="def_anything">
        <element>
            <anyName>
                <except>
                    <nsName ns=""/>
                </except>
            </anyName>
            <zeroOrMore>
                <choice>
                    <attribute>
                    <anyName/>
                    </attribute>
                    <text/>
                    <ref name="def_anything"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_artist-list">
        <element name="artist-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_artist-element"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_medium-list">
        <element name="medium-list">
            <ref name="def_list-attributes"/>
            <optional>
                <element name="track-count">
                    <data type="nonNegativeInteger"/>
                </element>
            </optional>
            <zeroOrMore>
                <ref name="def_medium"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_release-list">
        <element name="release-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_release-element"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_release-group-list">
        <element name="release-group-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_release-group-element"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_alias-list">
        <element name="alias-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_alias"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_recording-list">
        <element name="recording-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_recording-element"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_track-list">
        <element name="track-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_track"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_label-list">
        <element name="label-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_label-element"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_label-info-list">
        <element name="label-info-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_label-info"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_work-list">
        <element name="work-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_work-element"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_annotation-list">
        <element name="annotation-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_annotation"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_cdstub-list">
        <element name="cdstub-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_cdstub"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="def_nonmb-track-list">
        <element name="track-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_nonmb-track"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="def_freedb-disc-list">
        <element name="freedb-disc-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_freedb-disc"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_disc-list">
        <element name="disc-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_disc-element"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_puid-list">
        <element name="puid-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_puid-element"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_isrc-list">
        <element name="isrc-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_isrc-element"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_relation-list">
        <element name="relation-list">
            <attribute name="target-type">
                <data type="anyURI"/>
            </attribute>
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_relation-element"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_tag-list">
        <element name="tag-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_tag"/>
            </zeroOrMore>
        </element>
    </define>


    <define name="def_user-tag-list">
        <element name="user-tag-list">
            <ref name="def_list-attributes"/>
            <zeroOrMore>
                <ref name="def_user-tag"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="def_collection-list">
            <element name="collection-list">
                <ref name="def_list-attributes"/>
                <zeroOrMore>
                    <ref name="def_collection"/>
                </zeroOrMore>
            </element>
    </define>

    <!-- the list of attributes on a relationship. -->
    <define name="def_attribute-list">
        <element name="attribute-list">
            <oneOrMore>
              <element name="attribute">
                <text />
              </element>
            </oneOrMore>
        </element>
    </define>

    <!-- the attributes which can be used on a -list element. -->
    <define name="def_list-attributes">
        <optional>
            <attribute name="count">
                <data type="nonNegativeInteger"/>
            </attribute>
        </optional>
        <optional>
            <attribute name="offset">
                <data type="nonNegativeInteger"/>
            </attribute>
        </optional>
    </define>


    <!-- A date with varying precision in format 'YYYY-MM-DD'. -->
    <define name="def_incomplete-date">
        <data type="string">
            <param name="pattern">[0-9]{4}(-[0-9]{2})?(-[0-9]{2})?</param>
        </data>
    </define>

    <!-- An IPI code -->
    <define name="def_ipi">
        <data type="string">
            <param name="pattern">[0-9]{11}</param>
        </data>
    </define>


    <!-- A two-letter country code like 'DE', 'UK', 'FR' etc. -->
    <define name="def_iso-3166">
        <data type="string">
            <param name="pattern">[A-Z]{2}</param>
        </data>
    </define>

    <!-- A two-letter country code like followed by a 3 letter subdivision -->
    <define name="def_iso-3166-2">
        <data type="string">
            <param name="pattern">[A-Z]{2}\-[A-Z]{2}</param>
        </data>
    </define>


    <!-- An ISO-639-2/T language code like 'deu', 'eng', 'jpn' etc. -->
    <define name="def_iso-639">
        <data type="string">
            <param name="pattern">[a-z]{3}</param>
        </data>
    </define>


    <!-- A four-letter script code like 'Latn', 'Cyrl', etc. -->
    <define name="def_iso-15924">
        <data type="string">
            <param name="pattern">[A-Z][a-z]{3}</param>
        </data>
    </define>

    <!-- An ISRC code: CCXXXYYNNNNN, with
           CC    - two-letter ISO-3166-1 alpha 2 country code
           XXX   - alphanumeric registrant code (organization)
           YY    - year
           NNNNN - 5-digit number
    -->
    <define name="def_isrc">
        <data type="string">
            <param name="pattern">[A-Z]{2}[A-Z0-9]{3}[0-9]{2}[0-9]{5}</param>
        </data>
    </define>

    <!-- An ISWC code: 
           C           - single-letter prefix character
           NNN.NNN.NNN - 9-digit number. A "."-separated grouping in
                         3x3 digits is commonly used.  This grouping
                         is allowed by the standard, but not
                         mandatory.  For consistency we force this
                         grouping in the schema.
           C           - check digit
    -->
    <define name="def_iswc">
        <data type="string">
            <param name="pattern">[A-Z]-[0-9]{3}\.[0-9]{3}\.[0-9]{3}-[0-9]</param>
        </data>
    </define>

    <!-- A 128 Bit UUID in its standard ASCII representation. -->
    <define name="def_uuid">
        <data type="string">
            <param name="pattern">[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}</param>
        </data>
    </define>


    <!-- Reading direction of a relation. Defaults to "both". -->
    <define name="def_direction">
        <choice>
            <value>both</value>
            <value>forward</value>
            <value>backward</value>
        </choice>
    </define>

    <!-- Data Quality of an entity. -->
    <define name="def_quality">
        <choice>
            <value>low</value>
            <value>normal</value>
            <value>high</value>
        </choice>
    </define>

</grammar>
